.container{
min-height: 100vh;
margin-bottom: 14%;
}
.form{
    width: 350px!important;
    height: 500px;
    border-radius: 50px!important;

    background:rgba(255, 255, 255, 0.2);
    
   
}

.form:hover{
    box-shadow:0px 0px 20px 5px #2b2b2b;
}
    
body{

    background-size: cover;
    background-position: center;
    
    
    
    background-repeat: no-repeat;
    /* background-image: url(./Images/bg9.jpg); */
    
    animation: animation 25s ease-in-out forwards; 
    
    animation-iteration-count: infinite;
    
    
    
       
       
    }
    
    
    
    
    
    
    
    
    @keyframes animation {
    
        0%{
            background-image: url(./Images/ng3.jpg);
        }
        50%{
            background-image: url(./Images/bg4.jpg);
        }
        100%{
            background-image: url(./Images/bg5.jpg);
           
        }
      
    
      
    }









.input-group {
    width: 80%;
    align-items: center;
    margin: 5%;
  
}
.input-group input{
 
    border-bottom: 1px solid white!important;
    outline: none!important;

}

.input-group span{
    border-bottom:1px solid white!important;
}
.input-group input::placeholder{
    color: white;
 
    font-size: 18px;
}
 .input-group label{
   width: 100px;
  
   
   
    
 }
 .btn{
    border: 1px solid rgb(130, 152, 152);
    background:transparent;
    transition: .8s;
    height: 40px!important;
    padding: 0!important;
 }
 .container .btn:hover{
    color: #00eeff;
    text-shadow: 0 0 5px #00eeff;
    box-shadow:0px 0px 20px 5px #00eeff;
    
    ;
 }