
#right-content .img{
    width: 30px;
    height: 30px;
}
.sugg-text{
    align-items: center;
}
.sugg-text .text{
    font-size: 10px; 

    
}
#right-content .col-md-4 .text-info{
    font-size: 10px!important;

}



#sidenav-img{
    width: 12px;
    height: 12px;
}

.bi{
    font-size: 18px;
    
    
    
}
.text{
    font-size: 12px;
}
#left-top-img{
    width: 100px;
    margin: 5px;
    height: 40px;
   
}
#main-content .row:first-child img{
    width: 100px;
  
    height: 48px;

}
#left-bottom{
    margin-top: 20px !important;
}
.see-all{
    padding-right: 16%;
}
#main-content .row:nth-child(2) img{
    width: 70px;
    height: 70px;
}
#post-title img{
    width: 50px!important;
    height: 50px !important;

}

#sidenav-img{
    width: 25px;
    height: 25px;
}

#post-bottom1 .row .bi:nth-child(1):hover{
    color: red !important;
}

#Left-content .row button{
   
   margin:6px;
 
   
    position:relative;
    transition: all 0.5S !important;
}



#Left-content .row button::after,#Left-content .row button::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid white;
    transition: all 0.5s;
    
}
.story-image{
    overflow: hidden!important;
 
    width: 100px;
}
.story-image img{
    object-fit: cover!important;
    
    transition: transform 0.8s;
    background:radial-gradient(rgba(0,0,0,0.15)60%, transparent 0),radial-gradient(white 65%,transparent 0),linear-gradient(to right,orange,deeppink);
    
   
    overflow: hidden!important;
   
}
.story-image img:hover{
    transform: scale(1.3) !important;
    background:radial-gradient(rgba(0,0,0,0.15)60%, transparent 0),radial-gradient(white 65%,transparent 0),linear-gradient(to right,orange,deeppink);
    
    transform: rotate(360deg);
   
}



#heart:hover,#Left-content .row button:hover{

    box-shadow: 0px 0px 15px 5px rgba(0, 255, 238, 0.964),0px 6px 6px rgba(223, 170, 170, 0.979) !important;
}
#Left-content .row button:hover::after,#Left-content .row button:hover::before{
    width: 40%;
    height: 40%;
}


.loader{

    position: absolute;
    width: 100%;
    height: 100vh;
background:black;
    
}

.spinner{
    border: 10px solid white;
    width: 120px;
    height: 120px;
    border-top: 10px solid deeppink ;
    border-bottom: 10px solid orange ;
    border-left: 10px solid black;
    border-right: 10px solid black;
    animation: spin 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.spinner2{
    border: 10px solid white;
    width: 90px;
  height: 90px;
  border-left: 10px solid black;
  border-right: 10px solid black;
    border-top: 10px solid deeppink ;
    border-bottom: 10px solid orange ;
    animation: spin 0.5s linear infinite reverse;
padding: 2px;
    
}


@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg)
    }
}













@media (min-width:1200px){
    #Left-content .row button{
        align-items: center!important;
        justify-content: start!important;
        border-top-right-radius:10px !important;
        border-bottom-left-radius: 10px!important;
        border: none;
        padding-left: 15px!important;
    }
 


}
@media (max-width:1200px){
    #Left-content .row button{
       
        justify-content: center!important;
        align-items: center;
        border: none!important;
       
        

    }
   .left-top-image button{

    align-items: center!important;
   border: none;
       
   }


}

@media (max-width:768px){
   
 
   #story{
        justify-content: start !important;
        margin-top: 50px !important;
        overflow: hidden;
    }
}
@media (max-width:576px){
    #main-content .row:nth-child(1) img{
        display: none;

    }
    #left-top-img{
        padding-left: 0;
    }
}