#player .audio-img{
   
    width: 100%!important;
    height: 450px!important;

}
#player .modal-dialog{
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}
#player{
    height: 700px!important;
}
#player .modal-content{
    height: 100vh!important;
}
#audio-btn button{
   
    margin: 5px 50px;
}

.audio-img{
    width: 150px!important;
    height: 150px!important;
    margin: 10px 10px;

}
.song-content{
    width: 200px!important;

    padding: 5px;
    box-shadow: 0px 0px 3px 5px rgb(198, 216, 243);
    margin: 10px;
}


   .song-content:hover{
    animation: zoom 1.5s infinite ease-in-out;
   }
   @keyframes zoom{
    0%{
        transform: scale(1) ;
        
      

    }
    50%{
        transform: scale(1.1);
    }
   
    
    100%{
        transform: scale(1) ;
       
       
       
    
       

    }
}

@media(max-width:768px){
    .song-content{
        width: 150px!important;
    }
    .audio-img{
        width: 120px!important;
        height: 120px!important;
        margin: 10px 10px;
    
    }
}
@media(max-width:458px){
    .song-content{
        width: 100px!important;
        
    }
    .audio-img{
        width: 100%!important;
        height: 80px!important;
        padding: 0!important;
       
    
    }
    .song-content button{
    height: 30px!important;
    }
}



